- return unless Gitlab.dev_env_or_com?

- expanded = integration_expanded?('slack_app_')
%section.settings.as-slack.no-animate#js-slack-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Slack application')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      = _('Slack integration allows you to interact with GitLab via slash commands in a chat window.')
  .settings-content
    = form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-slack-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting) if expanded

      %fieldset
        .form-group
          .form-check
            = f.check_box :slack_app_enabled, class: 'form-check-input'
            = f.label :slack_app_enabled, class: 'form-check-label' do
              Enable Slack application
            .form-text.text-muted
              = _('This option is only available on GitLab.com')
        .form-group
          = f.label :slack_app_id, 'APP_ID', class: 'label-bold'
          = f.text_field :slack_app_id, class: 'form-control gl-form-input'
        .form-group
          = f.label :slack_app_secret, 'APP_SECRET', class: 'label-bold'
          = f.text_field :slack_app_secret, class: 'form-control gl-form-input'
        .form-group
          = f.label :slack_app_verification_token, 'Verification token', class: 'label-bold'
          = f.text_field :slack_app_verification_token, class: 'form-control gl-form-input'

      = f.submit _('Save changes'), class: "gl-button btn btn-success"
